# EditorConfig: https://EditorConfig.org
root = true

[*]
indent_style = tab
indent_size = 3
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.py]
# PEP8
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
