.AppleDouble
.DS_Store
._*
*.pyc
.svn
.hg
tags
*~
*~.*
*.swp
*.mine
*.log
*.bbprojectd
TODO
report
const-local.php
apache/logs
apache/httpd.pid
Build
_build
blib
LICENSE
MANIFEST
MYMETA.*
META.*
.settings-local

zKACBACKUP*
Auto-Saved Ship.*
*.loadmeta
/Backup
*.sfs
!Start.sfs


